## NLP HOMEWORK 6
### Submitted By- Srashti Soni
### Text Summarization
#### Exercise 1: Text Generation

In [9]:
!pip install markovify --quiet

In [25]:
import pandas as pd
import numpy as np
import markovify
from gensim.summarization import keywords
import requests
from gensim.summarization import mz_keywords
from gensim.models.wrappers import LdaMallet
import gensim
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import NMF

In [11]:
# Load the file ‘abcnews-date-text.csc’ as ‘inp’
# Look at the three top rows
data = pd.read_csv("/content/abcnews-date-text.csv", sep = ',')
data.head(3)

   publish_date                                      headline_text
0      20030219  aba decides against community broadcasting lic...
1      20030219     act fire witnesses must be aware of defamation
2      20030219     a g calls for infrastructure protection summit

In [14]:
# Create a model with markovify as ‘text_model’ to generate text
text_model = markovify.NewlineText(data.headline_text, state_size = 2)

In [15]:
# Print ten randomly generated sentences using the built model.
for i in range(10):
    print(i+1,'.', text_model.make_sentence())

1 . bears coach happy with migrant plan
2 . nsw search for missing backpacker
3 . abbott not playing favourites with soccer cup bid
4 . murray river towns unfazed by aker criticism
5 . manlys burns facing one match ban
6 . malaysias fake news reporting code aims to tackle climate change wheres the action on workplace injuries
7 . axl rose makes debut at mcg
8 . clarke admits he lied to about a
9 . adelaide city council forecasts budget belt tightening
10 . michaelia cash faces grilling over allco collapse

####Exercise 2: Text Summarization

In [16]:
# Use gensim.summarization to summarize the ‘jumper.txt’ file
text_data = open('/content/jumper.txt').read()
text_data

"Jumping off a platform the height of a three-story building is how Olympian Laura Wilkinson broke her fear.\n\nStaring at an intimidating 33-foot drop, adrenaline pumping, Wilkinson flipped gracefully into the water below. The challenges she has overcome throughout her diving career have made her strong -- strong enough to dominate the sport for a decade.\nShe is the first woman to win diving's three major world titles, including a gold medal at her first Olympic Games in 2000. Wilkinson told CNN she is hungry for more. After nine years in retirement, and recovery from a dangerous injury, the now 42-year-old is attempting a comeback in the face of a worldwide pandemic.\nWhen Wilkinson resumed training to compete at the Games in Tokyo, which were originally scheduled for July 2020, she felt a nagging and unfamiliar weakness in one of her arms.\nAn MRI revealed major damage to the discs in her neck, caused in large part by a career of repeatedly hitting the water at high speeds. Her doctor warned that a car accident or bad fall could leave her a quadriplegic.\nNow married with four children, Wilkinson was told she would need spinal surgery not just to dive, but to safely do everyday activities with her children. Wilkinson had the surgery and rushed to get back into the water ahead of the 2020 Olympic trials."

In [19]:
keywords(text_data).split('\n')

['wilkinson',
 'diving',
 'dive',
 'spinal',
 'olympic',
 'major world',
 'titles',
 'revealed',
 'foot',
 'drop',
 'resumed',
 'told',
 'flipped']

In [22]:
# What are the weighted keywords using the Montemurro and Zanette's entropy-based keyword extraction algorithm?
gensim.summarization.mz_entropy.mz_keywords(text_data, split=True, weighted=True,blocksize=64)

/usr/local/lib/python3.7/dist-packages/gensim/summarization/mz_entropy.py:70: RuntimeWarning: divide by zero encountered in log2
  log_p = numpy.log2(p)
/usr/local/lib/python3.7/dist-packages/gensim/summarization/mz_entropy.py:71: RuntimeWarning: invalid value encountered in multiply
  h = numpy.nan_to_num(p * log_p).sum(axis=0)

['in', 'a', 'is', 'diving', 'games', 'strong', 'surgery', 'her', 'she']

### # Is there a difference with the keywords in the second bullet point question?
 Yes, I found the difference between the normal keywords and the weighted keywords. However, the normal keywords seems to be more appropriate.

#### Exercise 3: Topic Modeling

In [23]:
# Determine the top 20 topics using the Non-Negative Matrix Factorization (NMF) using ‘from sklearn.decomposition import NMF’
text_data = [text_data]

In [24]:
text_data[:3]

["Jumping off a platform the height of a three-story building is how Olympian Laura Wilkinson broke her fear.\n\nStaring at an intimidating 33-foot drop, adrenaline pumping, Wilkinson flipped gracefully into the water below. The challenges she has overcome throughout her diving career have made her strong -- strong enough to dominate the sport for a decade.\nShe is the first woman to win diving's three major world titles, including a gold medal at her first Olympic Games in 2000. Wilkinson told CNN she is hungry for more. After nine years in retirement, and recovery from a dangerous injury, the now 42-year-old is attempting a comeback in the face of a worldwide pandemic.\nWhen Wilkinson resumed training to compete at the Games in Tokyo, which were originally scheduled for July 2020, she felt a nagging and unfamiliar weakness in one of her arms.\nAn MRI revealed major damage to the discs in her neck, caused in large part by a career of repeatedly hitting the water at high speeds. Her doctor warned that a car accident or bad fall could leave her a quadriplegic.\nNow married with four children, Wilkinson was told she would need spinal surgery not just to dive, but to safely do everyday activities with her children. Wilkinson had the surgery and rushed to get back into the water ahead of the 2020 Olympic trials."]

In [32]:
# Vectorize the words after cleaning up the text
vectorizer = TfidfVectorizer(max_features=1500, min_df=1, stop_words='english')
X = vectorizer.fit_transform(text_data)
words = np.array(vectorizer.get_feature_names())

print(X)
print("X = ", words)

  (0, 88)	0.07602859212697055
  (0, 7)	0.07602859212697055
  (0, 74)	0.07602859212697055
  (0, 5)	0.07602859212697055
  (0, 30)	0.07602859212697055
  (0, 75)	0.07602859212697055
  (0, 25)	0.07602859212697055
  (0, 49)	0.07602859212697055
  (0, 83)	0.1520571842539411
  (0, 78)	0.07602859212697055
  (0, 59)	0.07602859212697055
  (0, 17)	0.1520571842539411
  (0, 54)	0.07602859212697055
  (0, 68)	0.07602859212697055
  (0, 52)	0.07602859212697055
  (0, 32)	0.07602859212697055
  (0, 10)	0.07602859212697055
  (0, 4)	0.07602859212697055
  (0, 13)	0.07602859212697055
  (0, 90)	0.07602859212697055
  (0, 27)	0.07602859212697055
  (0, 77)	0.07602859212697055
  (0, 41)	0.07602859212697055
  (0, 42)	0.07602859212697055
  (0, 70)	0.07602859212697055
  :	:
  (0, 82)	0.1520571842539411
  (0, 14)	0.1520571842539411
  (0, 26)	0.1520571842539411
  (0, 64)	0.07602859212697055
  (0, 16)	0.07602859212697055
  (0, 91)	0.22808577638091165
  (0, 39)	0.07602859212697055
  (0, 35)	0.07602859212697055
  (0, 67)	0.07602859212697055
  (0, 6)	0.07602859212697055
  (0, 29)	0.07602859212697055
  (0, 36)	0.07602859212697055
  (0, 2)	0.07602859212697055
  (0, 46)	0.07602859212697055
  (0, 80)	0.07602859212697055
  (0, 33)	0.07602859212697055
  (0, 11)	0.07602859212697055
  (0, 93)	0.4561715527618233
  (0, 51)	0.07602859212697055
  (0, 61)	0.07602859212697055
  (0, 12)	0.07602859212697055
  (0, 81)	0.07602859212697055
  (0, 40)	0.07602859212697055
  (0, 66)	0.07602859212697055
  (0, 48)	0.07602859212697055
X =  ['2000' '2020' '33' '42' 'accident' 'activities' 'adrenaline' 'ahead'
 'arms' 'attempting' 'bad' 'broke' 'building' 'car' 'career' 'caused'
 'challenges' 'children' 'cnn' 'comeback' 'compete' 'damage' 'dangerous'
 'decade' 'discs' 'dive' 'diving' 'doctor' 'dominate' 'drop' 'everyday'
 'face' 'fall' 'fear' 'felt' 'flipped' 'foot' 'games' 'gold' 'gracefully'
 'height' 'high' 'hitting' 'hungry' 'including' 'injury' 'intimidating'
 'july' 'jumping' 'just' 'large' 'laura' 'leave' 'major' 'married' 'medal'
 'mri' 'nagging' 'neck' 'need' 'old' 'olympian' 'olympic' 'originally'
 'overcome' 'pandemic' 'platform' 'pumping' 'quadriplegic' 'recovery'
 'repeatedly' 'resumed' 'retirement' 'revealed' 'rushed' 'safely'
 'scheduled' 'speeds' 'spinal' 'sport' 'staring' 'story' 'strong'
 'surgery' 'titles' 'tokyo' 'told' 'training' 'trials' 'unfamiliar'
 'warned' 'water' 'weakness' 'wilkinson' 'win' 'woman' 'world' 'worldwide'
 'year' 'years']

In [33]:
# Use ‘print("Topic {}: {}".format(i + 1, ",".join([str(x) for x in idx_to_word [topic.argsort()[-10:]]]))) to list the topics
nmf = NMF(n_components=10, solver="mu")
W = nmf.fit_transform(X)
H = nmf.components_

for i, topic in enumerate(H):
     print("Topic {}: {}".format(i + 1, ",".join([str(x) for x in words[topic.argsort()[-10:]]])))

Topic 1: told,medal,scheduled,wilkinson,major,hitting,olympic,career,water,2020
Topic 2: dominate,adrenaline,gold,recovery,decade,world,wilkinson,2000,2020,water
Topic 3: woman,water,diving,2000,games,foot,doctor,quadriplegic,dominate,wilkinson
Topic 4: just,ahead,training,sport,jumping,major,career,2020,surgery,wilkinson
Topic 5: compete,water,need,neck,olympian,games,resumed,woman,repeatedly,wilkinson
Topic 6: overcome,flipped,2020,story,damage,olympic,diving,told,children,water
Topic 7: discs,including,large,olympic,worldwide,games,july,children,diving,wilkinson
Topic 8: building,world,pandemic,dangerous,games,told,career,major,water,strong
Topic 9: neck,spinal,training,surgery,games,career,compete,major,fall,wilkinson
Topic 10: olympic,cnn,told,caused,2020,games,dive,water,surgery,wilkinson

/usr/local/lib/python3.7/dist-packages/sklearn/decomposition/_nmf.py:294: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  FutureWarning,

#####Reference: https://datascienceplus.com/natural-language-generation-with-markovify-in-python/